# IDE
.idea
.vscode

# tmp
tmp
*.bak

# secrets
*.crt
*token

# binaries
tools/maintenance/bin
tools/maintenance/main

# ignore ansible inventory
manifests/ansible/inventory/*.ini

# ignore helmvalues.yaml
helm/values.yaml